<mat-card class="card">
    <mat-card-title margin-left=1%>Sensor Management</mat-card-title>
    <mat-card-subtitle>Welcome to <b>sensor management project</b></mat-card-subtitle>

    <mat-card-actions>
        <button
        *ngIf="!user"
        class="buttonSignIn"
        mat-raised-button
        color="primary"
        (click)="loginGoogle()">
          <img class="imgGoogle" src="../../assets/img/google-white.png" height="30">

          <b>Sign in</b>
        </button>
        <button mat-raised-button
        *ngIf="!user"
        class="buttonSignIn"
        (click)="anonLogin()">
        Anonymous Sign-In
        </button>
    </mat-card-actions>
    <button mat-button [matMenuTriggerFor]="menu">Links</button>
    <mat-menu #menu="matMenu">
      <a href="https://trello.com/b/UhXDwLc9/semester-project" target="_blank" mat-menu-item>Trello</a>
      <a href="https://github.com/Blackstray/SensorManagementWeb" target="_blank" mat-menu-item>Web Github</a>
      <a href="https://github.com/Blackstray/SensorManagementApp" target="_blank" mat-menu-item>Android Github</a>
      <a href="https://github.com/Blackstray/SensorManagementEmulator" target="_blank" mat-menu-item>Emulator Github</a>
    </mat-menu>
</mat-card>
