.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 350px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
ul {
  margin: 0px;
  padding: 0px;
}
.imgMap{
  max-width: 90%;
  max-height: 90%;
  height: auto;
  left: 50%;
  top: 10%;
}

.rowAlign{
  text-align: left;
}

.textToSide{
  text-align: center;
  margin-top: 20%;
  color: rgb(18, 93, 206)
}

.buttonSignIn{
  height: 55px;
  width: 200px;
  font-size: 70%;
  text-align: center;
  position: relative;
}


.textSideNavAlign{
  text-align: left;
}

.imgGoogle {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}


