<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Sensor Menu</mat-toolbar>
    <mat-accordion>
        <ul *ngFor="let item of items">
          <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{item.title}}
            </mat-panel-title>
            <mat-panel-description>
              Status: {{item.description}}
            </mat-panel-description>
          </mat-expansion-panel-header>
           Power: {{item.power}} | Temperature: {{item.temperature}}
        </mat-expansion-panel>
      </ul>
      </mat-accordion>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <span>Sensor Map</span>
    </mat-toolbar>
    <img class="imgMap"  src="../../assets/img/map.png" height="600">

  </mat-sidenav-content>
</mat-sidenav-container>
