.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 350px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
ul {
  margin: 0px;
  padding: 0px;
}
.imgMap{
  scale: 150%;
  max-width: 90%;
  max-height: 75%;
  height: auto;
  left: 50%;
  top: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  margin-bottom: auto;
}

.rowAlign{
  text-align: left;
}

.textToSide{
  text-align: center;
  margin-top: 20%;
  color: rgb(18, 93, 206)
}

.buttonSignIn{
  height: 55px;
  width: 200px;
  font-size: 70%;
  text-align: center;
  position: relative;
}

.floorText{
  text-align: center;
  font-size: 200%;
}


.textSideNavAlign{
  text-align: left;
}

.imgGoogle {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.txtInfo {
  margin-right: 5px;
  right: 5px;
  margin-left: 10%;
}

.txtDetails {
  text-align: left;
}

.arrow {
  height: 40px;
}

